.carousel-img {
  height: 500px;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 992px) {
  .carousel-img {
    height: 400px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .carousel-img {
    height: 260px;
  }
}
